<h1>LOG IN</h1>

<form action="/api/user/login" method="post">
<label for="email">email:</label>
<input type="text" name="email" id="email"><br>
<label for="pasword">pasword:</label>
<input type="password" name="password" id="password"><br><br>
<input type="submit" value="SEND">
</form><br>

<a href="/"><button>SING UP</button></a>