<h1>Real time products</h1>
<a href="/index"><button>HOME</button></a>

<div id="realTimeProds"></div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="./js/index.js"> </script>
