<h1>SING UP</h1>

<form action="/api/user" method="post">
<label for="first_name">first name:</label>
<input type="text" name="first_name" id="first_name"><br>
<label for="last_name">last name:</label>
<input type="" name="last_name" id="last_name"><br>
<label for="email">email:</label>
<input type="text" name="email" id="email"><br>
<label for="text">age:</label>
<input type="number" name="age" id="age"><br>
<label for="pasword">pasword:</label>
<input type="password" name="password" id="password"><br><br>
<input type="submit" value="SEND">
</form><br>
<br>
<a href="/login"><button>LOG IN</button></a>